Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . web/index.php
<IfModule mime_module>
 AddHandler application/x-httpd-ea-php70 .php .php7 .phtml
 </IfModule>